// Media Queries
@mixin screen($size) {
  @if $size ==mobile {
    @media (max-width: 599px) {
      @content;
    }
  }

  @else if $size ==tablet {
    @media (min-width: 600px) {
      @content;
    }
  }

  @else if $size ==tabletAll {
    @media (min-width: 900px) {
      @content;
    }
  }

  @else if $size ==desktopAll {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else if $size ==ultraWide {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

.container {
  padding: 0 .6rem;
  // background: blue;
  width: 100%;
  margin: 0 auto;

  p {
    font-size: 1.4rem;
    text-align: center;
  }

  @include screen(tablet) {
    padding: 0 1rem;
    // background: red;
    max-width: 720px;

    p {
      font-size: 1.6rem;
      text-align: left;
    }
  }

  @include screen(desktopAll) {
    padding: 0 1rem;
    background: none;

    p {
      font-size: 1.8rem;
    }
  }
}