// Media Queries
@mixin screen($size) {
  @if $size ==mobile {
    @media (max-width: 599px) {
      @content;
    }
  }

  @else if $size ==tablet {
    @media (min-width: 600px) {
      @content;
    }
  }

  @else if $size ==tabletAll {
    @media (min-width: 900px) {
      @content;
    }
  }

  @else if $size ==desktopAll {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else if $size ==ultraWide {
    @media (min-width: 1800px) {
      @content;
    }
  }
}

.container {
  padding: 0 .6rem;
  // background: blue;
  width: 100%;
  margin: 0 auto 0 auto;

  p {
    font-size: 1.4rem;
  }

  @include screen(tablet) {
    padding: 0 1rem;
    // background: red;
    max-width: 920px;

    p {
      font-size: 1.6rem;
    }
  }

  @include screen(desktopAll) {
    padding: 0 1rem;
    background: none;

    p {
      font-size: 1.8rem;
    }
  }

  .introduction {
    width: 80%;

    @include screen(mobile) {
      width: 100%;
    }

    h1 {
      margin-bottom: 0;
    }

    .wave {
      position: absolute;
      font-size: inherit;
      margin-left: 1rem;

      @include screen(mobile) {
        top: -4rem;
        right: -1.6rem;
      }
    }

    p {
      font-size: 3rem;
      line-height: 1.2;
      margin: 2rem 0;

      @include screen(mobile) {
        text-align: center;
        padding: 2rem;
        font-size: 2.3rem;
      }
    }

    .links {
      display: flex;
      flex-direction: row;
      width: 146px;
      justify-content: space-between;

      @include screen(mobile) {
        justify-content: space-around;
        width: 280px;
        margin: 0 auto;
      }

      svg {
        width: 22px;
        height: 22px;
        opacity: .4;

        &:hover {
          opacity: 1;
          transition: opacity .3s ease-out;
        }
      }
    }
  }
}

.fullBleed {
  background: white;
  margin-top: 18rem;

  .tile {
    position: relative;
    top: -8rem;
    margin: 0;

    .grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 8px;
      background: white;
      border-radius: 16px;
      box-shadow: 0 5px 5px 0 rgba(225, 225, 225, 0.301);

      @include screen(mobile) {
        grid-template-columns: 1fr;
      }

      .gridCell {


        .content {
          display: flex;
          flex-direction: column;
          text-align: center;
          align-items: center;
          padding: 4rem;

          .icon {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            justify-content: center;
            align-items: center;
            background: #FFDC34;
            display: flex;

            span {
              font-size: 3rem;
            }
          }

          h5 {
            margin-bottom: 1rem;
          }

          p {
            font-size: 1.4rem;
            margin: 8px 0;
          }
        }
      }
    }
  }

  .about {
    display: block;
    margin: 0 auto;
    padding-bottom: 8rem;
    position: relative;
    max-width: 52ch;
    text-align: center;

    @include screen(mobile) {
      padding: 0 32px 8rem 32px;
    }

    p {
      font-size: 1.8rem;

      @include screen(mobile) {
        font-size: 1.6rem;
        margin: 32px 0;
      }
    }

    .highlight {
      background-color: #efefef;
      padding: 2rem;
      border-radius: 1rem;
      margin: 4rem 0;
    }
  }


}

.work {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 42px;
    margin-bottom: 32px;

    @include screen(mobile) {
      grid-template-columns: 1fr;
      gap: 42px;
    }

    .gridCell {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include screen(mobile) {
        align-items: center;
        text-align: center;
      }

      h2 {
        margin: 0;
      }

      .buttonPrimary {
        background: #FFDC34;
        padding: .6rem 3rem;
        border-radius: 16px;
        font-weight: 700;
        text-align: center;
        width: fit-content;
        margin-top: 8px;

        &:hover {
          cursor: pointer;
          background: lighten($color: #FFDC34, $amount: 10%);
          transition: background .3s ease-out;
        }
      }

      .buttonSecondary {
        background: white;
        padding: .6rem 1rem;
        border-radius: 16px;
        font-weight: 700;
        border: 2px solid #FFDC34;
        width: fit-content;
        text-align: center;


        &:hover {
          cursor: pointer;
          background: lighten($color: #FFDC34, $amount: 10%);
          transition: all .3s ease-out;
        }
      }

      &_project {
        background: #FFDC34;
        border-radius: 32px;
        height: 260px;
        overflow: hidden;

        span {
          display: block;
          text-align: center;
          font-weight: 700;
          font-size: 2rem;
          position: relative;
          top: 2.6rem;
        }

        .imgWrapper {

          padding: 48px;
          overflow: hidden;

          img {
            max-width: 100%;
            border-radius: 16px;
            box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 30%);
          }
        }
      }
    }


  }
}