


//@media (max-width: 600px) {
//  .grid {
//    width: 100%;
//    flex-direction: column;
//  }
//}


.introduction {
    width: 80%;

    h1 {
        margin-bottom: 0;
    }

    p {
        font-size: 4rem;
        line-height: 1.2;
        margin: 1rem 0;
    }
}

.about {
    
}